{
  "openapi": "3.1.0",
  "info": {
    "title": "Radar by FeexPay — API",
    "version": "1.0.0",
    "description": "Contrat des routes serveur (PLAN.md §6).\n\n`/api/public/**` : parcours public. La session est portée par le cookie httpOnly\n`radar_sid` ; les jetons de participation et de rapport sont opaques et seul leur\ncondensat est conservé en base.\n\n`/api/admin/**` : espace interne. Cookie httpOnly `radar_admin`, second facteur exigé\npour les rôles Analyste et Administrateur, rôle vérifié par chaque handler.\n\n`/api/cron/**` : tâches planifiées, jeton porté par l’en-tête Authorization.\n\nLes erreurs métier portent un code stable dans `data.code` (voir server/utils/errors.ts)\net le `correlation_id` de la requête."
  },
  "servers": [
    {
      "url": "https://radar.feexpay.me",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Développement"
    }
  ],
  "paths": {
    "/api/admin/auth/2fa/enroll": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/auth/2fa/recovery": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/auth/2fa/verify": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/auth/login": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/auth/logout": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/auth/me": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/auth/reset": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/auth/reset/{token}": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/auth/reset/confirm": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/dashboard": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/dashboard/export": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/invitations": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/invitations/{id}/cancel": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/invitations/{id}/resend": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/invitations/accept": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/invitations/preview": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/leviers": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/participations": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/participations/{id}": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/participations/{id}/export": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/prospects": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/prospects/{id}": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/prospects/{id}/fiche": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/prospects/{id}/notes": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/prospects/{id}/rapport": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/prospects/{id}/suivi": {
      "patch": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/prospects/export": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/rapports": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/rapports/{id}/renvoyer": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/rapports/apercu": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/rapports/relancer": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/settings": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/users/{id}": {
      "patch": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/versions": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/versions/{version}/controler": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/versions/{version}/publier": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/cron/abandon": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/consent": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/health": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/leads": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/participations": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/participations/{token}": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/participations/{token}/abandon": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/participations/{token}/answers/{questionCode}": {
      "put": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/participations/{token}/complete": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/questions/{type}": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/reports/{token}": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/reports/{token}/pdf": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/results/{token}": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/sessions": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/settings": {
      "get": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/shares/{token}": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/track": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/webhooks/resend": {
      "post": {
        "tags": [
          "API Routes"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}
